@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="logout-btn">Logout</button>
            </form>

        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
