@model BinMaps.Common.ReportCreateViewModel.ReportCreateViewModel

@{
    ViewData["Title"] = "Създай отчет";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateReport" method="post" id="reportForm">
    <div class="mb-3">
        <label for="containerId" class="form-label">Container ID</label>
        <input asp-for="ContainerId" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="reportTypeId" class="form-label">Report Type</label>
        <select asp-for="ReportTypeId" class="form-select" asp-items="@(new SelectList(ViewBag.ReportTypes, "Id", "Name"))">
            <option value="">Избери тип</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

